body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

html, body {
    height: 100%;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

div {
    display: block;
}

label {
    display: inline-block;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-floating>label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem .75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

p {
    text-align: center;
}